.navbar{
    display: grid;
    grid-template-columns: 3fr 6fr 0.75fr 0.75fr 0.75fr 0.75fr;
    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    width: 100%;
    height: 80px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.05);
}
.logo{
    height: 80px;
    margin-left: -140px;
    cursor: pointer;
}
.input button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    border-radius: 23px;
    height: 45px;
    width: 280px;
    border-style: none;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.input button:hover{
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
}
.input button img{
    background-color: #FF385C;
    border-radius: 50%;
    height: 20px;
}
.comptdowns button {
    background-color: transparent;
    border-radius: 23px;
    height: 40px;
    width: 110px;
    border-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.comptdowns button:hover{
    background-color: rgba(192, 192, 192, 0.2);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.langmodal button {
    background-color: transparent;
    border-radius: 23px;
    height: 40px;
    width: 40px;
    border-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.langmodal button:hover{
    background-color: rgba(192, 192, 192, 0.2);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.inscrit button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    border-radius: 23px;
    height: 40px;
    width: 80px;
    border-style: none;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
}
.inscrit button:hover{
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}